// Primary Color
$color-primary: #7F7045;  // Colore principale marrone
$color-secondary: #173B67; // Colore secondario blu
$color-accent: #CE7C2A;    // Colore accento arancione

// Neutral Color
$color-white: #FFFFFF;     // Bianco
$color-gray-dark: #444444; // Grigio scuro
$color-gray-light: #F5F5F5; // Grigio chiaro

// Highlighter Color
$color-highlight: #FFCC01; // Giallo evidenziatore