// Primary Color
$color-brown: #7F7045;     // Marrone
$color-blue: #173B67;      // Blu
$color-orange: #CE7C2A;    // Arancione

// Neutral Color
$color-white: #FFFFFF;     // Bianco
$color-dark-gray: #444444; // Grigio scuro
$color-light-gray: #F5F5F5; // Grigio chiaro

// Highlighter Color
$color-yellow-highlight: #FFCC01; // Giallo evidenziatore